:root{
    --lightRed: hsl(0, 100%, 67%); 
    --orangeYellow: hsl(39, 100%, 56%);
    --greenTeal: hsl(166, 100%, 37%);
    --cobaltBlue: hsl(234, 85%, 45%);
    --lightSlateBlue : hsl(252, 100%, 67%); /*(background)*/
    --LightRoyalBlue : hsl(241, 81%, 54%);/*(background)*/
    --violetBlue : hsla(256, 72%, 46%, 1);/*circle*/
    --PersianBlue: hsla(241, 72%, 46%, 0); /*circle*/
    --White: hsl(0, 0%, 100%);
    --paleBlue: hsl(221, 100%, 96%);
    --lightLavender: hsl(241, 100%, 89%);
    --darkGrayBlue: hsl(224, 30%, 27%);

}

/*font-family: 'Hanken Grotesk', sans-serif;*/

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--paleBlue);
    font-family: 'Hanken Grotesk', sans-serif;
}


.wrapper{
    width: 600px;
    margin: auto;
    background-color:var(--White);
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    border-radius: 30px;
}

.wrapper{
    box-shadow: 5px 5px 15px 5px hsla(252, 100%, 67%, 0.127) ;
}
.container{
    display: flex;
    justify-content:center;
    align-items: center;
}
.first-container, .second-container{
    width: 45%;
    padding: 20px;
}

.first-container{
    background-image: linear-gradient(to bottom, var(--lightSlateBlue), var(--LightRoyalBlue));
    text-align:center;
    color: white;
    border-radius: 30px;
}
.first-container h3{
    color: var(--lightLavender);
    font-weight: 600;
    padding: 5px 5px 20px 5px ;
}
.first-container h2{
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
}
.first-container p{
    padding : 10px 20px 20px 20px;
    color: var(--lightLavender);
    margin: 0 auto;
}
.score{
    background-image:linear-gradient(to bottom, var(--violetBlue), var(--PersianBlue));
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h2{
    margin: 0;
    font-size: 40px;
    font-weight: 700;
}
.score p{
    margin: 0;
    font-size: 15px;
    color: var(--lightLavender);
}

.tab{
    margin: 10px 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    padding: 0 20px;
    width: 80%;
}
.maximum{
    color: gray
}

#reaction{
    background-color:hsla(0, 100%, 67%, 0.099); ;
}
#memory{
    background-color:hsl(39, 100%, 56%,0.099) ;
}

#verbal{
    background-color: hsl(166, 100%, 37%,0.099);
}

#visual{
        background-color: hsla(256, 72%, 46%, 0.099);
}
#reaction-title{
   color: var(--lightRed);
}

#memory-title{
    color: var(--orangeYellow)
}

#verbal-title{
    color:var(--greenTeal)
}

#visual-title{
    color: var(--violetBlue);
}

#continue{
    background-image: linear-gradient(to bottom, var(--lightSlateBlue), var(--LightRoyalBlue));
    border: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    padding: 13px 0px;
    border-radius: 25px;
    margin: 15px 0px 10px 0px;
    cursor:pointer;

}
#continue:hover{
    background-image: linear-gradient(to top, var(--lightSlateBlue), var(--LightRoyalBlue));

}

/* @media(max-width : 600px)
{
    .container{
        flex-direction: column;
    }
} */